<div class="row row-cols-5">
    <div *ngFor="let sd of sliderData" class="col sliderBox">
        <div class="img">
            <img src="assets/image/home/slider/{{sd.image}}" alt="category Image" />
        </div>
        <div *ngIf="sd.stock > 0"  class="stock">
            <div class="dot"></div>In Stock
        </div>
        
        <div *ngIf="sd.stock == 0"  class="stock outofstock">
            <div class="dot"></div>Out Of Stock
        </div>
        <div *ngIf="sd.title" class="title">{{sd.title}}</div>
        <div *ngIf="sd.brand" class="brand cmntext">Brand: {{sd.brand}}</div>
        <div *ngIf="sd.sku" class="sku cmntext">SKU: {{sd.sku}}</div>
        <div *ngIf="sd.sar" class="sar cmntext">SAR <span class="sarnum">{{sd.sar}}</span></div>
        <div class="nameimage cmntext">
            <div class="name">{{sd.name}}</div>
            <div class="smallimage"><img src="../../../../../assets//image/home/slider/{{sd.smallImg}}"></div>
        </div>
        <div *ngIf="sd.MOQOrder" class="order cmntext">MOQ (Order): {{sd.MOQOrder}}</div>
        <div *ngIf="sd.MOQRFQ" class="rfq cmntext">MOQ (RFQ): {{sd.MOQRFQ}}</div>
        <div class="col-md-12 text-center btn p-0" >
            <button class="secondarybutton sac">{{sd.btnText}}</button>
        </div>
       
    </div>
</div>